:root {
  --background-color: #f5ece9;
  --text-color: #000000;
  --primary-color: #0E3995;
  --secondary-color: #8269e0;
  --accent-color: #8F4030;
  --border-color: #ced4da;
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #3a6ea5;
  --secondary-color: #6b4ce6;
  --accent-color: #a04d3b;
  --border-color: #444444;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.bg-light {
  background-color: var(--primary-color) !important;
  color: var(--text-color);
}

.bg-sidebar {
  background-color: var(--primary-color) !important;
}

.list-group-item-light {
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
}

.btn-success {
  color: var(--text-color);
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.navbar-custom {
  background-color: var(--secondary-color);
  border-top: 5px solid var(--accent-color);
}

.dropdown-item:hover {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.image-gallery-icon {
  color: var(--secondary-color);
}

.icon-info-green {
  background-color: var(--secondary-color);
}

.bg-green {
  background-color: var(--primary-color);
}

/* Add more styles here as needed */

